n8n/2_in_game.json
{
  "name": "2_in_game — 실시간 투구 감지 및 예측 Push",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "id": "node-001-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst gamePk = staticData.active_game_pk ?? 824593;\nreturn [{ json: { game_pk: gamePk } }];"
      },
      "id": "node-002-code-gamepk",
      "name": "game_pk 로드",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://statsapi.mlb.com/api/v1.1/game/{{ $json.game_pk }}/feed/live",
        "options": {
          "response": { "response": { "neverError": true } },
          "timeout": 6000
        }
      },
      "id": "node-003-http-livefeed",
      "name": "MLB Live Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst feed = $input.first().json;\n\nconst gameState = feed.gameData?.status?.abstractGameState;\nconst currentPlay = feed.liveData?.plays?.currentPlay;\nconst linescore = feed.liveData?.linescore;\n\nif (!currentPlay) {\n  return [{ json: { has_new_pitch: 0, game_state: gameState, game_pk: feed.gamePk } }];\n}\n\nconst atBatIdx = currentPlay?.about?.atBatIndex ?? -1;\nconst pitchEvents = (currentPlay?.playEvents ?? []).filter(e => e.isPitch);\nconst pitchCount = pitchEvents.length;\nconst pitchId = `${atBatIdx}-${pitchCount}`;\nconst lastPitchId = staticData.lastPitchId ?? '';\n\nif (pitchCount === 0 || pitchId === lastPitchId) {\n  return [{ json: { has_new_pitch: 0, game_state: gameState, game_pk: feed.gamePk } }];\n}\n\nconst boxscore = feed.liveData?.boxscore;\nconst halfInning = currentPlay?.about?.halfInning ?? 'top';\nconst defSide = halfInning === 'top' ? 'home' : 'away';\nconst defTeam = boxscore?.teams?.[defSide];\n\nlet catcherId = null;\nconst fielderIds = [];\nfor (const [, player] of Object.entries(defTeam?.players ?? {})) {\n  const posCode = player?.position?.code;\n  const id = player?.person?.id;\n  if (!id) continue;\n  if (posCode === '2') catcherId = id;\n  const posNum = parseInt(posCode);\n  if (posNum >= 3 && posNum <= 9) fielderIds.push(id);\n}\n\nconst batSide = currentPlay?.matchup?.batSide?.code ?? 'R';\nconst pitcherId = currentPlay?.matchup?.pitcher?.id;\n\nif (!staticData.pitchCountByPitcher) staticData.pitchCountByPitcher = {};\nif (staticData.lastGamePk !== feed.gamePk) {\n  staticData.pitchCountByPitcher = {};\n  staticData.lastGamePk = feed.gamePk;\n}\nif (pitcherId) {\n  staticData.pitchCountByPitcher[pitcherId] = (staticData.pitchCountByPitcher[pitcherId] ?? 0) + 1;\n}\nconst pitchCountOverride = pitcherId ? (staticData.pitchCountByPitcher[pitcherId] ?? 0) : 0;\n\nif (!staticData.pitchEffectiveness) staticData.pitchEffectiveness = {};\nconst latestPitch = pitchEvents[pitchEvents.length - 1];\nconst pitchType = latestPitch?.details?.type?.code;\nconst pitchResult = latestPitch?.details?.description ?? '';\nconst isEffective = ['Swinging Strike', 'Called Strike', 'Foul', 'Foul Tip', 'Swinging Strike (Blocked)'].some(r => pitchResult.includes(r));\nif (pitchType && pitcherId) {\n  const key = `${pitcherId}_${pitchType}`;\n  if (!staticData.pitchEffectiveness[key]) staticData.pitchEffectiveness[key] = { total: 0, effective: 0 };\n  staticData.pitchEffectiveness[key].total += 1;\n  if (isEffective) staticData.pitchEffectiveness[key].effective += 1;\n}\n\nconst preGameContext = staticData[`context_${feed.gamePk}`] ?? {};\nstaticData.lastPitchId = pitchId;\n\nreturn [{\n  json: {\n    has_new_pitch: 1,\n    game_pk: feed.gamePk,\n    at_bat_number: atBatIdx,\n    pitch_number: latestPitch?.pitchNumber,\n    pitcher_id: pitcherId,\n    batter_id: currentPlay?.matchup?.batter?.id,\n    catcher_id: catcherId,\n    fielder_ids: fielderIds.slice(0, 7),\n    inning: linescore?.currentInning,\n    balls: currentPlay?.count?.balls,\n    strikes: currentPlay?.count?.strikes,\n    outs: currentPlay?.count?.outs,\n    on_1b: linescore?.offense?.first  ? 1 : 0,\n    on_2b: linescore?.offense?.second ? 1 : 0,\n    on_3b: linescore?.offense?.third  ? 1 : 0,\n    home_score: linescore?.teams?.home?.runs ?? 0,\n    away_score: linescore?.teams?.away?.runs ?? 0,\n    game_state: gameState,\n    bat_side: batSide,\n    pitch_count_override: pitchCountOverride,\n    pitch_effectiveness: staticData.pitchEffectiveness,\n    pre_game_context: preGameContext\n  }\n}];"
      },
      "id": "node-004-code-diff",
      "name": "투구 diff 감지",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-new-pitch",
              "leftValue": "={{ $json.has_new_pitch }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-005-if-newpitch",
      "name": "신규 투구 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:8000/predict/pitch?model_type=auto",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "pitcher":      "={{ $json.pitcher_id }}",
          "batter":       "={{ $json.batter_id }}",
          "fielder_2":    "={{ $json.catcher_id ?? 0 }}",
          "fielder_3":    "={{ $json.fielder_ids?.[0] ?? 0 }}",
          "fielder_4":    "={{ $json.fielder_ids?.[1] ?? 0 }}",
          "fielder_5":    "={{ $json.fielder_ids?.[2] ?? 0 }}",
          "fielder_6":    "={{ $json.fielder_ids?.[3] ?? 0 }}",
          "fielder_7":    "={{ $json.fielder_ids?.[4] ?? 0 }}",
          "fielder_8":    "={{ $json.fielder_ids?.[5] ?? 0 }}",
          "fielder_9":    "={{ $json.fielder_ids?.[6] ?? 0 }}",
          "game_pk":      "={{ $json.game_pk }}",
          "game_year":    2026,
          "balls":        "={{ $json.balls }}",
          "strikes":      "={{ $json.strikes }}",
          "outs_when_up": "={{ $json.outs }}",
          "inning":       "={{ $json.inning }}",
          "on_1b":        "={{ $json.on_1b ?? 0 }}",
          "on_2b":        "={{ $json.on_2b ?? 0 }}",
          "on_3b":        "={{ $json.on_3b ?? 0 }}",
          "stand":        "={{ $json.bat_side ?? 'R' }}",
          "pitch_count_override": "={{ $json.pitch_count_override ?? 0 }}",
          "home_score_diff": "={{ ($json.home_score ?? 0) - ($json.away_score ?? 0) }}",
          "bat_score_diff":  "={{ ($json.away_score ?? 0) - ($json.home_score ?? 0) }}"
        },
        "options": {
          "response": { "response": { "neverError": false } },
          "timeout": 5000
        }
      },
      "id": "node-006-http-fastapi",
      "name": "FastAPI 투구 예측",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## MLB 투구 예측 해설 요청\n\n### 현재 경기 상황\n- 이닝: {{ $('투구 diff 감지').item.json.inning }}회\n- 볼카운트: {{ $('투구 diff 감지').item.json.balls }}볼 {{ $('투구 diff 감지').item.json.strikes }}스트라이크\n- 아웃: {{ $('투구 diff 감지').item.json.outs }}아웃\n- 주자: 1루={{ $('투구 diff 감지').item.json.on_1b }}, 2루={{ $('투구 diff 감지').item.json.on_2b }}, 3루={{ $('투구 diff 감지').item.json.on_3b }}\n- 투수 ID: {{ $('투구 diff 감지').item.json.pitcher_id }}\n- 타자 ID: {{ $('투구 diff 감지').item.json.batter_id }}\n- 타자 좌우: {{ $('투구 diff 감지').item.json.bat_side }}\n- 투수 누적 투구수: {{ $('투구 diff 감지').item.json.pitch_count_override }}\n\n### AI 예측 결과\n- 예측 구종: {{ $json.predicted_pitch }}\n- 신뢰도: {{ ($json.confidence * 100).toFixed(1) }}%\n- 라우팅: {{ $json.routing }}\n- 구종별 확률:\n{{ JSON.stringify($json.pitch_probabilities, null, 2) }}\n\n### 당일 구종 효과 현황\n{{ JSON.stringify($('투구 diff 감지').item.json.pitch_effectiveness, null, 2) }}\n\n위 데이터를 종합하여 투구 전술 해설 JSON을 반환해라.",
        "options": {
          "systemMessage": "너는 MLB 투구 전술 해설 전문가다.\n현재 경기 상황과 AI 예측 확률을 바탕으로\n왜 이 구종이 예측되는지 한국어로 2~3문장 해설해라.\n출력은 반드시 아래 JSON만 반환해라:\n{\n  \"commentary\": \"string\",\n  \"reasoning\": \"string\",\n  \"confidence_level\": \"high | medium | low\"\n}"
        }
      },
      "id": "node-007-ai-agent",
      "name": "전술 해설 AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "maxTokens": 512,
          "temperature": 0.3
        }
      },
      "id": "node-007a-openai-model",
      "name": "GPT-4o Mini",
      "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
      "typeVersion": 1.2,
      "position": [1320, 540],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const diffData   = $('투구 diff 감지').item.json;\nconst prediction = $('FastAPI 투구 예측').item.json;\nconst aiRaw      = $input.first().json.output ?? '{}';\n\nlet ai;\ntry {\n  ai = JSON.parse(aiRaw);\n} catch (e) {\n  ai = { commentary: aiRaw, reasoning: '', confidence_level: 'low' };\n}\n\nreturn [{\n  json: {\n    event:           'new_pitch_prediction',\n    game_pk:         diffData.game_pk,\n    at_bat_number:   diffData.at_bat_number,\n    pitch_number:    diffData.pitch_number,\n    inning:          diffData.inning,\n    count:           `${diffData.balls}B-${diffData.strikes}S`,\n    outs:            diffData.outs,\n    on_1b:           diffData.on_1b,\n    on_2b:           diffData.on_2b,\n    on_3b:           diffData.on_3b,\n    pitcher_id:      diffData.pitcher_id,\n    batter_id:       diffData.batter_id,\n    bat_side:        diffData.bat_side,\n    predicted_pitch: prediction.predicted_pitch,\n    confidence:      prediction.confidence,\n    pitch_probabilities: prediction.pitch_probabilities,\n    model_used:      prediction.model_used,\n    routing:         prediction.routing,\n    commentary:      ai.commentary,\n    reasoning:       ai.reasoning,\n    confidence_level: ai.confidence_level,\n    inference_ts:    new Date().toISOString()\n  }\n}];"
      },
      "id": "node-008-code-payload",
      "name": "Push 페이로드 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/api/mlb/prediction",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": { "response": { "neverError": true } },
          "timeout": 3000
        }
      },
      "id": "node-009-http-push",
      "name": "프론트엔드 Push",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst payload = $input.first().json;\n\nif (!staticData.prediction_log) staticData.prediction_log = [];\n\nstaticData.prediction_log.push({\n  game_pk:         payload.game_pk,\n  at_bat_number:   payload.at_bat_number,\n  pitch_number:    payload.pitch_number,\n  predicted_pitch: payload.predicted_pitch,\n  confidence:      payload.confidence,\n  actual_pitch:    null,\n  ts:              payload.inference_ts\n});\n\nif (staticData.prediction_log.length > 500) {\n  staticData.prediction_log = staticData.prediction_log.slice(-500);\n}\n\nreturn [{ json: { logged: true, total_predictions: staticData.prediction_log.length } }];"
      },
      "id": "node-010-code-log",
      "name": "예측 로그 기록",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-game-over",
              "leftValue": "={{ $('MLB Live Feed').first().json.gameData?.status?.abstractGameState }}",
              "rightValue": "Final",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-011-if-gameover",
      "name": "경기 종료 감지",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "game_pk 로드", "type": "main", "index": 0 }]]
    },
    "game_pk 로드": {
      "main": [[{ "node": "MLB Live Feed", "type": "main", "index": 0 }]]
    },
    "MLB Live Feed": {
      "main": [[{ "node": "투구 diff 감지", "type": "main", "index": 0 }]]
    },
    "투구 diff 감지": {
      "main": [[{ "node": "신규 투구 여부", "type": "main", "index": 0 }]]
    },
    "신규 투구 여부": {
      "main": [
        [{ "node": "FastAPI 투구 예측", "type": "main", "index": 0 }],
        []
      ]
    },
    "FastAPI 투구 예측": {
      "main": [[{ "node": "전술 해설 AI", "type": "main", "index": 0 }]]
    },
    "GPT-4o Mini": {
      "ai_languageModel": [[{ "node": "전술 해설 AI", "type": "ai_languageModel", "index": 0 }]]
    },
    "전술 해설 AI": {
      "main": [[{ "node": "Push 페이로드 조립", "type": "main", "index": 0 }]]
    },
    "Push 페이로드 조립": {
      "main": [[{ "node": "프론트엔드 Push", "type": "main", "index": 0 }]]
    },
    "프론트엔드 Push": {
      "main": [[{ "node": "예측 로그 기록", "type": "main", "index": 0 }]]
    },
    "예측 로그 기록": {
      "main": [[{ "node": "경기 종료 감지", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "pitchflow-ai" },
  "id": "pitchflow-in-game-v2",
  "tags": [{ "name": "MLB" }, { "name": "in-game" }, { "name": "v2" }]
}