n8n/4_custom.json
{
  "name": "4_custom — 온디맨드 구종 예측 및 복기",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "on-demand-predict",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dddd86b2-3862-4326-aab6-09433b539537",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        144
      ],
      "webhookId": "pitchflow-on-demand",
      "notesInFlow": true,
      "notes": "POST /webhook/on-demand-predict\n수신: pitcher_id, batter_id, balls, strikes, outs, inning\n선택: catcher_id, on_1b/2b/3b, actual_pitch, stand, game_pk"
    },
    {
      "parameters": {
        "url": "=https://statsapi.mlb.com/api/v1/people/{{ $input.first().json.body.batter_id }}/stats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stats",
              "value": "lastXGames"
            },
            {
              "name": "gameType",
              "value": "R"
            },
            {
              "name": "group",
              "value": "hitting"
            },
            {
              "name": "limit",
              "value": "7"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "id": "320ca5a5-8a79-409c-b867-90937258e65e",
      "name": "타자 최근 성적 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "notesInFlow": true,
      "notes": "타자 최근 7경기 타격 성적\nAI 해설 컨텍스트용"
    },
    {
      "parameters": {
        "url": "=https://statsapi.mlb.com/api/v1/people/{{ $input.first().json.body.batter_id }}/stats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stats",
              "value": "vsPlayer"
            },
            {
              "name": "opposingPlayerId",
              "value": "={{ $('Webhook Trigger').first().json.pitcher_id }}"
            },
            {
              "name": "gameType",
              "value": "R"
            },
            {
              "name": "group",
              "value": "hitting"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "id": "ad5c790e-456d-4a71-88c6-45c18f60ba6d",
      "name": "타자 vs 투수 상대전적",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        288
      ],
      "notesInFlow": true,
      "notes": "타자 vs 선발 투수 역대 상대 성적\nAI 해설 컨텍스트용"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://127.0.0.1:8000/predict/pitch?model_type=auto",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pitcher: $input.first().json.body.pitcher_id, batter: $input.first().json.body.batter_id, fielder_2: $input.first().json.body.catcher_id ?? 0, fielder_3: 0, fielder_4: 0, fielder_5: 0, fielder_6: 0, fielder_7: 0, fielder_8: 0, fielder_9: 0, game_pk: $input.first().json.body.game_pk ?? 0, game_year: 2026, balls: Math.min($input.first().json.body.balls ?? 0, 3), strikes: Math.min($input.first().json.body.strikes ?? 0, 2), outs_when_up: Math.min($input.first().json.body.outs ?? 0, 2), inning: $input.first().json.body.inning ?? 1, on_1b: $input.first().json.body.on_1b ?? 0, on_2b: $input.first().json.body.on_2b ?? 0, on_3b: $input.first().json.body.on_3b ?? 0, stand: $input.first().json.body.stand ?? 'R', pitch_count_override: $input.first().json.body.pitch_count_override ?? 0 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 5000
        }
      },
      "id": "bd27ba8b-b2de-438b-b1a0-cc7741308d5a",
      "name": "FastAPI 투구 예측",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        144
      ],
      "notesInFlow": true,
      "notes": "POST http://127.0.0.1:8000/predict/pitch?model_type=auto\nauto 모드: per_pitcher 또는 stacking fallback\nstand 동적 처리 / balls,strikes,outs 클램핑"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## 구종 예측 복기 분석 요청\n\n### 경기 상황\n- 투수 ID: {{ $('Webhook Trigger').first().json.pitcher_id }}\n- 타자 ID: {{ $('Webhook Trigger').first().json.batter_id }}\n- 이닝: {{ $('Webhook Trigger').first().json.inning }}\n- 볼카운트: {{ $('Webhook Trigger').first().json.balls }}볼 {{ $('Webhook Trigger').first().json.strikes }}스트라이크\n- 아웃: {{ $('Webhook Trigger').first().json.outs }}아웃\n- 주자: 1루={{ $('Webhook Trigger').first().json.on_1b ?? 0 }}, 2루={{ $('Webhook Trigger').first().json.on_2b ?? 0 }}, 3루={{ $('Webhook Trigger').first().json.on_3b ?? 0 }}\n- 실제 투구 (복기): {{ $('Webhook Trigger').first().json.actual_pitch ?? 'null (입력 안 됨)' }}\n\n### 타자 최근 7일 성적\n{{ JSON.stringify($('타자 최근 성적 조회').first().json.stats?.[0]?.splits?.[0]?.stat ?? {}, null, 2) }}\n\n\n### AI 예측 결과\n- 예측 구종: {{ $('FastAPI 투구 예측').first().json.predicted_pitch }}\n- 신뢰도: {{ ($('FastAPI 투구 예측').first().json.confidence * 100).toFixed(1) }}%\n- 라우팅: {{ $('FastAPI 투구 예측').first().json.routing }}\n- 구종별 확률:\n{{ JSON.stringify($('FastAPI 투구 예측').first().json.pitch_probabilities, null, 2) }}\n\n위 데이터를 종합하여 구종 예측 복기 해설 JSON을 반환해라.\nactual_pitch가 null이면 vs_actual은 반드시 null로 반환해라.",
        "options": {
          "systemMessage": "너는 MLB 투구 전술 복기 분석 전문가다.\n예측 확률, 타자 최근 성적, 상대전적을 종합하여 해설해라.\nactual_pitch가 있으면 예측과 실제를 비교해라.\nactual_pitch가 null이면 vs_actual은 null로 반환해라.\n구종 코드 정의:\nFF=포심 패스트볼, SI=싱커, SL=슬라이더, CH=체인지업, FC=커터,\nST=스위퍼, CU=커브, FS=스플리터, KC=너클커브, SV=스위프볼,\nFA=패스트볼, EP=이퍼스, KN=너클볼, CS=슬로우커브, SC=스크류볼,\nFO=포크볼, PO=포시볼\n반드시 위 정의를 기준으로 구종을 설명해라.\n한국어로 작성해라. 추측하지 마라.\n출력은 반드시 아래 JSON만 반환해라:\n{\n  \"commentary\": \"string\",\n  \"reasoning\": \"string\",\n  \"vs_actual\": \"string | null\"\n}"
        }
      },
      "id": "3cf49a3d-1921-4b13-8ca2-cc51c3cf3551",
      "name": "복기 해설 AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        144
      ],
      "executeOnce": true,
      "notesInFlow": true,
      "notes": "GPT-4o Mini\n타자 최근성적 + 상대전적 + 예측확률 종합 해설\nactual_pitch 유무에 따라 vs_actual 조건부 반환"
    },
    {
      "parameters": {
        "jsCode": "// 최종 응답 조립\nconst webhook     = $('Webhook Trigger').first().json;\nconst prediction  = $('FastAPI 투구 예측').first().json;\nconst aiRaw       = $input.first().json.output ?? '{}';\n\nlet ai;\ntry { ai = JSON.parse(aiRaw); }\ncatch (e) { ai = { commentary: aiRaw, reasoning: '', vs_actual: null }; }\n\nconst vsActual = webhook.actual_pitch ? (ai.vs_actual ?? null) : null;\n\nreturn [{\n  json: {\n    predicted_pitch:     prediction.predicted_pitch,\n    confidence:          prediction.confidence,\n    pitch_probabilities: prediction.pitch_probabilities,\n    model_used:          prediction.model_used,\n    routing:             prediction.routing,\n    enrichment_latency_ms: prediction.enrichment_latency_ms,\n    commentary:          ai.commentary ?? '',\n    reasoning:           ai.reasoning  ?? '',\n    vs_actual:           vsActual\n  }\n}];"
      },
      "id": "77e19b68-2212-4cdc-b6d6-039c0bb3629a",
      "name": "응답 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        144
      ],
      "executeOnce": true,
      "notesInFlow": true,
      "notes": "최종 응답 구조:\n  predicted_pitch / confidence / pitch_probabilities\n  routing / model_used\n  commentary / reasoning / vs_actual"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "5d74b35c-1ec3-4989-ad30-8e8c2e3c491d",
      "name": "Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        144
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        336
      ],
      "id": "db16a83c-8cf0-4517-9d82-b08ab465325c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4a37ahBgw0E8B1RJ",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "타자 최근 성적 조회",
            "type": "main",
            "index": 0
          },
          {
            "node": "타자 vs 투수 상대전적",
            "type": "main",
            "index": 0
          },
          {
            "node": "FastAPI 투구 예측",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI 투구 예측": {
      "main": [
        [
          {
            "node": "복기 해설 AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "복기 해설 AI": {
      "main": [
        [
          {
            "node": "응답 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "응답 조립": {
      "main": [
        [
          {
            "node": "Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "복기 해설 AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3ae65811-5441-48d4-bdff-3122a9df15aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4791dfed7fed1a2dcc7308e6b58671e08764e0ca9fd52110f1e4604e9f8b22d"
  },
  "id": "m2WVOYYWxKD89sNc",
  "tags": [
    {
      "updatedAt": "2026-05-31T02:39:56.926Z",
      "createdAt": "2026-05-31T02:39:56.926Z",
      "id": "4wJV2WrTB5UJTOeN",
      "name": "custom"
    },
    {
      "updatedAt": "2026-05-30T14:59:00.948Z",
      "createdAt": "2026-05-30T14:59:00.948Z",
      "id": "LL1KHKMK8G2nGj6v",
      "name": "v2"
    },
    {
      "updatedAt": "2026-05-30T14:59:00.950Z",
      "createdAt": "2026-05-30T14:59:00.950Z",
      "id": "Tt5fUiqTymCjuVUW",
      "name": "MLB"
    }
  ]
}